

.App {
  text-align: center;
}

#banner {
  width: 100%;
  padding: 1em;
  img {
    width: 100%;
    align-content: center;
  }
  span {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    #name {
      text-align: left;
      width: 100%
    }
    span {
      margin: 0;
      p {
        margin: 0;
        padding: 0;
        width: fit-content;
        flex: 1;
      }
      .Typist {
        width: 100%;
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        .Cursor {
          flex-wrap: nowrap;
        }
      }
    }
  }
}

#about {
  padding: 1em;
}
#navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  
  .headers {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
  }
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 2em;
  padding: 0.5em;
  color: white;
}

.App-intro {
  font-size: large;
}

.icon {
  width: 200px;
  height: 200px;
}

#name {
    stroke: #000;
    stroke-width: 1;
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation-name: draw;
    animation-duration: 5s;
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
    animation-timing-function: linear;

}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}