.App {
  text-align: center; }

.typing {
  padding-left: 4em;
  width: 100%; }
  .typing h3 {
    margin: 0; }
  .typing div {
    margin: 0; }

.padded {
  padding-top: 1em;
  padding-bottom: 0.5em; }

.dropdown {
  position: fixed;
  top: 0;
  right: 0; }

.dropdown-toggle::after {
  opacity: 0; }

.dropdown-toggle:hover {
  opacity: 0.6; }

.dropdown-toggle {
  position: fixed;
  top: 0;
  right: 0; }

.dropdown-menu {
  background: rgba(255, 255, 255, 0.4) !important;
  z-index: 10;
  border: none; }

.dropdown-item {
  opacity: 1;
  color: black; }

#banner {
  width: 100%;
  padding: 1em; }
  #banner img {
    width: 100%;
    align-content: center; }
  #banner span {
    width: 100%;
    margin: 0; }
    #banner span #name {
      text-align: left;
      width: 100%; }
    #banner span span {
      margin: 0; }
      #banner span span p {
        margin: 0;
        padding: 0;
        flex: 1; }
      #banner span span .Typist {
        width: 100%;
        flex: 1; }

#about {
  padding-left: 4em;
  padding-right: 4em; }

#navbar .headers {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2em; }

#skills {
  padding-left: 4em;
  padding-right: 4em; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  height: 2em;
  padding: 0.5em;
  color: white; }

.App-intro {
  font-size: large; }

.icon {
  max-height: 6em; }

#name {
  stroke: #000;
  stroke-width: 1;
  stroke-dasharray: 100px;
  stroke-dashoffset: 100px;
  animation-name: draw;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: linear; }

@keyframes draw {
  to {
    stroke-dashoffset: 0; } }
