.App {
  padding: 0;
  margin: 0;
  width: 100%; }

.typing {
  padding-left: 4em;
  width: 100%; }
  .typing h3 {
    margin: 0; }
  .typing div {
    margin: 0; }

.padded {
  padding-top: 1em;
  padding-bottom: 0.5em; }

.dropdown {
  position: fixed;
  top: 0;
  right: 0; }

.dropdown-toggle::after {
  opacity: 0; }

.dropdown-toggle:hover {
  opacity: 0.6; }

.dropdown-toggle {
  position: fixed;
  top: 0;
  right: 0; }

.dropdown-menu {
  background: rgba(255, 255, 255, 0.4) !important;
  z-index: 10;
  border: none; }

.dropdown-item {
  opacity: 1;
  color: black; }

#banner {
  width: 100%;
  margin: 0;
  padding: 0;
  background: #c4bf62; }
  #banner img {
    width: 100%;
    align-content: center; }
  #banner span {
    width: 100%;
    margin: 0; }
    #banner span #name {
      text-align: left;
      width: 100%; }
    #banner span span {
      margin: 0; }
      #banner span span p {
        margin: 0;
        padding: 0;
        flex: 1; }
      #banner span span .Typist {
        width: 100%;
        flex: 1; }

#about {
  padding-left: 4em;
  padding-right: 4em; }

#proskires {
  width: 100%;
  margin: 0;
  padding: 0; }

#navbar {
  width: 100%;
  background: rgba(26, 31, 12, 0.2); }
  #navbar .headers {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em; }

#skills {
  padding-left: 4em;
  padding-right: 4em; }

.hexagon {
  width: 100px;
  height: 55px;
  background: #e5bb0a;
  position: absolute;
  z-index: 0; }

.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #e5bb0a; }

.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #e5bb0a; }

.icon {
  position: absolute;
  z-index: 1;
  width: 100px;
  padding: 0.4em;
  text-align: center; }

.icon-bg {
  display: flex;
  align-items: center;
  margin: 0.1em;
  padding: 0;
  width: 100px;
  height: 100px; }
